.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #a030f0; /* Example color for the navbar */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-title {
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar-links a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
